{% extends 'base.html' %}

{% block content %}

    <div class="d-flex h-100 text-center">
        <div class="container mt-5">
            <h1 class="text-center">Главная страница данного проекта.</h1>
        <p class="lead text-center">Данный pet-project написан при помощи фреймворка <b> flask </b>. В нижней части сайта прикрепил мои контакты.</p>
        <p class="lead text-center">
            <a href="{{ url_for('articles.list') }}" class="btn btn-lg btn-light fw-bold border-white bg-white">Познакомиться с проектом</a>
        </p>
    </div>
        </div>


{% endblock %}